numpy==2.2.6
torch==2.6.0
torchaudio==2.6.0
transformers==4.48.3
gradio==5.50.0
speechbrain==1.0.3
espnet==202511
espnet-model-zoo==0.1.7
soundfile>=0.13,<0.15
scipy>=1.15,<2
sentencepiece==0.2.0
protobuf>=5,<6
